<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haohai.platform.platformmodel">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.acticity.WorkReportListActivity" />
        <activity android:name=".ui.acticity.WorkReportDayAddActivity" />
        <activity android:name=".ui.acticity.WorkReportWeekAddActivity" />
        <activity android:name=".ui.acticity.AttendanceActivity" />

        <activity android:name=".ui.acticity.AttendanceRecordActivity" />
        <activity android:name=".ui.acticity.AttendanceRecordInfoActivity" />
        <activity android:name=".ui.acticity.LeaveFlowAddActivity" />
        <activity android:name=".ui.acticity.LeaveFlowListActivity" />
        <activity android:name=".ui.acticity.LeaveFlowInfoActivity" />
        <activity android:name=".ui.acticity.LeaveFlowApproveListActivity" />
        <activity android:name=".ui.acticity.BumenChooseActivity" />
        <activity android:name=".ui.acticity.HistoryLineActivity" />

        <!--<uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />-->

        <service
            android:name=".ui.service.DataService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".ui.utils.TrackReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ui.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.ForegroundService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>