<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haohai.platform.firelibrary">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.FireAddActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.FireMapActivity" />
        <activity
            android:name=".ui.activity.HiddenDangerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.FireListActivity" />
        <activity
            android:name=".ui.activity.FireMissionListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.DuDaoListActivity"
            android:launchMode="singleTask" />
        <!-- Mqtt服务 -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".ui.service.MQTTService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".ui.activity.WeiXingSettingActivity" />
        <activity android:name=".ui.activity.FireMissionInfoActivity" />
        <activity android:name=".ui.activity.DuDaoInfoActivity" />
        <activity android:name=".ui.activity.GPSNaviActivity" />
        <activity android:name=".ui.activity.PicVideoActivity" />
        <activity android:name=".ui.activity.FireSceneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.activity.DuDaoSceneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>